body {
  display: block;
  margin: 0px;

}
iframe {
  padding-bottom: 10px;
  width: 100%;
}

p {
  line-height: 2em;
  font-family: 'Century Gothic',CenturyGothic,'Apple Gothic',AppleGothic,sans-serif;
  text-align: justify;
}git
