body {
  display: block;
  margin: 0px;

}
iframe {
  padding-bottom: 10px;
  width:100%;
}

img {
  padding-bottom:15px;
  width:100%;
  height:width*.78;
}

p {
  line-height: 2em;
  font-family: 'Century Gothic',CenturyGothic,'Apple Gothic',AppleGothic,sans-serif;
  text-align: center;
  color: #eaeaea;
}
/*
<p><iframe width="640" height="360" src="https://www.youtube.com/embed/ltijEmlyqlg?rel=0" frameborder="0"
allowfullscreen></iframe>
  Paul Feig and Melissa McCarthy&#039;s latest collaboration <em>Spy</em> <a href="http://splitsider.com/2015/01/here
s-the-first-trailer-for-paul-feig-and-melissa-mccarthys-newest-film-spy/">
hits theaters this summer</a>, and 20th Century Fox dropped a brand new trailer today featuring McCarthy as a CIA e
mployee who finally gets to leave the office for some good old fashioned spy work. Jude Law, Jason Statham, Rose By
rne, and Miranda Hart costar in the film, which hits theaters June 5th.</p>
*/

